extends layouts/main
include mixins/videoPlayer

block content
    .video__container
        +videoPlayer({
            src: video.fileUrl
        })
        .video__info
            if loggedUser !== null
                if loggedUser.id === video.creator.id
                    a(href=routes.editVideo(video.id)).edit-btn Edit video
            h6.video__createdAt= video.createdAt
            h5.video__title= video.title
            span.video__view= video.view
            p.video__description= video.description
        .video__author
            |Upload by 
            a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length <= 1
                span.video__comments-number #{video.comments.length} comment
            else 
                span.video__comments-number #{video.comments.length} comments