extends layouts/main

block content
    .video__container
        .video__player
            video(src=`/${video.fileUrl}#t=4`, controls=true)
        .video__info
            a(href=routes.editVideo(video.id)).edit-btn Edit video
            h6.video__createdAt= video.createdAt
            h5.video__title= video.title
            span.video__view= video.view
            p.video__description= video.description
        .video__comments
            if video.comments.length <= 1
                span.video__comments-number #{video.comments.length} comment
            else 
                span.video__comments-number #{video.comments.length} comments