header.header
    .header__wrap
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log in
                else
                    li
                        if loggedUser.avatarUrl
                            img.headerImg#jsAvatar(src=loggedUser.avatarUrl)
                        else
                            img.headerImg#jsAvatar(src="/userImg/unnamed.png")
                        a(href=routes.me) Profile
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.logout) Log out  